<div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Edited DevLogger Display</a>
        <span class="log-date">09/26/2019</span>
        <i class="fa fa-remove"></i>
    </div>
    <div class="list-group-item d-flex justify-content-between align-items-center">
        <a href="#">Created and Generated this DevLogger app</a>
        <span class="log-date">09/26/2019</span>
        <i class="fa fa-remove"></i>
    </div>
</div>
